[Unit]
Description=ip out console
Requires=network-online.target getty.target
After=network-online.target getty.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/ip-out-console
RemainAfterExit=yes
StandardOutput=tty
StandardError=tty

[Install]
WantedBy=default.target
