[Unit]
Description=horizon wpa supplicant configure service
Requires=sysinit.target
After=local-fs.target
Before=ifup@wlan0.service
RequiresMountsFor=/boot

[Service]
Type=oneshot
ExecStart=/usr/sbin/wpa-supplicant-configure

[Install]
WantedBy=default.target
